<h4> Hi, listing all the friends of <%= @user.name %></h4>
<ul>
  <% @user = User.find(params[:id]) %>
  <% @friends.each do |f| %>
  <li>
    <% user1 = f.user_id == @user.id ? User.find(f.friend_id) : User.find(f.user_id) %>
    <%= link_to user1.name, user1 %>
  </li>
  <% end %>
</ul>